@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

*{
	 margin:0;
 }
 
 body{
	/*background-image: url(image/Mountain1.png);
	background-size:cover;*/
 }
 
 nav{
	position: fixed;
	 width:100%;
	 height:4.28em;
	 /*height:60px*/
	 background-color:rgb(250,250,250);
 }
  
 nav p{
	margin-left: 7em;
	/*margin-left:150px;*/
	 font-family:arial;
	 color:black;
	 font-size:24px;
	 line-height:2.5em;
	 /*line-height:55px;*/
	 float:left;
	 padding: 0em 1.42em;
	/* padding: 0px 20px;*/
 }
 #name{
	text-decoration: none;
	color:rgb(88, 97, 204);
	font-weight: 500;
 }
 #name:hover{
	 color:rgb(73,82,189);
 }

nav ul{
	float:right;
	margin-right:7em;
	/*margin-right: 150px;*/
}

nav ul li{
	float:left;
	list-style:none;
	/*activates position absolute within the list*/
	position:relative;
	
}

/* these are the links */
nav ul li a {
	display:block;
	font-family:arial;
	color:black;
	font-size:14px;
	padding:1.5em 1em;
	/*padding:21px 14px;*/
	text-decoration:none;
	border-bottom: white 0em;
}

nav ul li a:hover {
	color:rgb(50,130,250);
	border-bottom: rgb(88, 97, 204) solid 0.28em;
	/*transition:0.2s;*/
}

nav ul li ul{
	display:none;
	position:absolute;
	background-color:white;
	padding:10px;
	border-radius:0em 0em 0.28em 0.28em; 
}
nav ul li:hover ul{
	display:block;
}

nav ul li ul li {
	width:180px;
	border-radius:0.28em;
}
nav ul li ul li a{
	color:black;
	display:block;
	padding: 0.57em 1em;
	/*padding:8px 14px;*/
	border-bottom: none;
}
nav ul li ul li:hover a{
	color: rgb(88, 97, 204);
	/*color:rgb(30,100,255);*/
	border-bottom: none;
}
section{
	font-family: 'Roboto', sans-serif;
	height: 60vh;
	display:flex;
	justify-content: center;
	border: 1px solid black;

    background-size: cover; 
	background-position: center center; 
	background-attachment: scroll; 
}

#robot-background {
	background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url("assets/2019bot.jpg");
	height: 100vh;
	display:flex;
	justify-content: center;
	/* border: 1px solid black; dont know if I want this*/

    background-size: cover; 
    background-position: center center; 
	background-attachment: scroll; 
}

#FIRST {
	/*background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url("assets/_firstlogo.png");*/
}
#about {
  background-color:rgb(88, 97, 204);
}
.about-container{
	padding-top:50px;
}
.about-container h{
	font-size: 75px;
	font-weight:900;
	color:white;
}
.about-container p{
	color:white;
	font-size:22px;
	padding: 75px 300px 50px 300px;
	text-align: justify;
}

.about-horiz-line{
	width: 20em;
	border: 2px solid white;
	height: 0px;
	margin: 0 auto;
}
.first-container{
	padding-top:50px;
}
.first-container h{
	font-size: 75px;
	font-weight:900;
	color:black;
}
.first-container p{
	color:black;
	font-size:22px;
	padding: 75px 300px 50px 300px;
	text-align: justify;
}
.first-horiz-line{
	width: 10em;
	border: 2px solid black;
	height: 0px;
	margin: 0 auto;
}

#contact {
   
}
/* I stole these buttons...and go figure they don't use px so they are more scalable*/
a.button1{
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid black;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-size:20px;
	font-weight:500;
	color:black;
	text-align:center;
	transition: all 0.2s;
	}
a.button1:hover{
	color:rgb(88, 97, 204);
	border:0.1em solid rgb(88, 97, 204);
	}

header {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
    top: 0;
    left: 0;
	right: 0;
}

#logo{
	height:60px; 
	right:475px; 
	position:relative;
}
